body{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    background-color: #0d0d15;
    color: #eff5fad1;

}
a{
    color:#eff5fad1;
    text-decoration: none;
}
