.button--primary{
  background-color: #0265DC;
  color: #F5F8FB;
  font-weight: 600;
  font-style: SemiBold;
  letter-spacing: 0px;
}
.about-section .button--link{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    letter-spacing: 0px;
    background-color: #D0D7FB2B;
    color: #f5f6f8;
}
.blog-section .button--link{
    font-family: "Poppins", Arial, sans-serif;
    font-style: SemiBold;
    font-size: 16px;
    font-size:large;
    font-weight: normal;
    border: 2px;
    height: 40px;
    width: 161px;
    background-color:#D0D7FB2B;
    color: #ffffff;}
