<section class='banner'>
  <h1 class='banner__title'>WITH <span class='banner__highlight'>BINABOX</span> EXPLORE NFT COLLECTION</h1>
  <p class='banner__text'>We are the best way to check the rarity of NFT collection</p>
  <div>
    <h2 class='banner__statistic-number'>2240+</h2>
    <p class='banner__statistic-text'>Total It eam</p>
  </div>
  <div>
    <h2 class='banner__statistic-number'>1000+</h2>
    <p class='banner__statistic-text'>Profiles whitelisted</p>
  </div>
  <button class='banner__button button button--primary'>Connect Wallet</button>
  <button class='banner__link'>Whitelist now</button>

  <img src='#' alt='#'>
</section>
