<section class="blog">
    <h2 class="blog__title">Our Blog</h2>

{% for item in blog %}
{% include 'blog-item.twig' %}
{% endfor %}
    <div class="blog-post">
        <img src="./images/med.png" alt="Neural Drift">
        <span class="blog-post__author">Nova Riven</span> |
        <span class="blog-post__date">04 Dec 2022</span> |
        <span class="label new">New</span>
        <h3 class="blog-post__title">Neural Drift</h3>
        <p class="blog-post__text">I woke up inside the void. My body stayed in the past — only thoughts were allowed through the wires."</p>
    <button class="button button--link">Read more</button>
    </div>
    <div>
        <img src="./images/ch.png" alt="Deadframe">
        <span class="blog-post__author">Kairo Null</span> |
        <span class="blog-post__date">06 Dec 2022</span> |
        <span class="label drop">Drop</span>
        <h3 class="blog-post__title">Deadframe</h3>
        <p class="blog-post__text">He just stood there, waiting. Not for a person — for a signal. Like the memory of the network took shape.</p>
        <button class="button button--link">Read more</button>
    </div>
    <div>
        <img src="./images/kk.png" alt="Glitch Panther">
        <span class="blog-post__author">Synthya Void</span> |
        <span class="blog-post__date">07 Dec 2022</span> |
        <span class="label NFT">NFT</span>
        <h3 class="blog-post__title">Glitch Panther</h3>
        <p class="blog-post__text">Cats always knew more than they showed. Especially the ones that vanish into code</p>
        <button class="button button--link">Read more</button>
    <div>
        <img src="./images/ob.png" alt="Primal.exe">
        <span class="blog-post__author">Dr. Wex Omega</span> |
        <span class="blog-post__date">08 Dec 2022</span> |
        <span class="label rare">Rare</span>
        <h3 class="blog-post__title">primal.exe</h3>
        <p class="blog-post__text">We tried to resurrect the past. What we got was rage compressed into an algorithm.
        </p>
        <button class="button button--link">Read more</button>
    </div>
    <div>
        <img src="./images/gu.png" alt="White Protocol">
        <span class="blog-post__author">Tony Nguyen</span> |
        <span class="blog-post__date">20 Jun 2022</span> |
        <span class="label NFT">NFT</span>
        <h3 class="blog-post__title">White Protocol</h3>
        <p class="blog-post__text">At first, it was just a signal — clean, white, hypnotic. We didn't know it was alive.</p>
        <button class="button button--link">Read more</button>
    </div>
    <div>
        <img src="./images/bdv.png" alt="Retrocore">
        <span class="blog-post__author">Echo Zero</span> |
        <span class="blog-post__date">09 Dec 2022</span> |
        <span class="label Artifact">Artifact</span>
        <h3 class="blog-post__title">Retrocore</h3>
        <p class="blog-post__text">This console comes from a game no one remembers how to play. But it's still powered on.</p>
        <button class="button button--link">Read more</button>
    </div>
       <button class="blog button">Read more</button>
</section>
        