<section class="catalog">
    <div class="catalog__header">
        <h2 class="catalog__title">Catalog</h2>
        <a class="catalog__link" href="/catalog">See all</a>
        <button class="catalog__arrow-button"></button>
        <button class="catalog__arrow-button"></button>
    </div>
    {% for item in catalog %}
    {% include 'catalog-item.twig' %}
    {% endfor %}
    <ul class="catalog__list list">
        <li class="list__item">
            </li> <article class="card">
                <img src="./images/ск.png" alt="Product">
                <span class="card__price">$1990</span>
                <span class="label new">New</span>
                <p class="card__name">Echo of Bones</p>
            </article>
        <li class="list__item">
            <article class="card">
                <img src="./images/ко.png" alt="Product">
                <span class="card__price">$2390</span>
                <span class="label new">New</span>
                <p class="card__name">Nyx the Watcher</p>
            </article>
        </li>
        <li class="list__item">
            <article class="card">
                <img src="./images/no.png" alt="Product">
                <span class="card__price">$20</span>
                <span class="label sold-out">Sold out</span>
                <p class="card__name">Blade of silence</p>
            </article>
            </li>
        <li class="list__item">
            <article class="card">
                <img src="./images/kn.png" alt="Product">
                <span class="card__price">$1,000,000</span>
                <span class="label new">New</span>
                <p class="card__name">Data Core: Alpha</p>
            </article>
        </li>
        <li class="list__item">
            <article class="card">
                <img src="./images/dv.png" alt="Product">
                <span class="card__price">$199.5</span>
                <span class="label new">New</span>
                <p class="card__name">Phantom cansole</p>
            </article>
        </li>
    </ul>
</section>
