<footer class="footer">
    <div class="footer__top">
         <div class="footer__brand">
            <h2 class="footer__title">BINABOX</h2>
            <p>We are the best way to check the rarity of NFT collection.</p>
         </div>
         <div class="footer__nav">
            <nav>
                <ul class="footer__menu">
                    <li><a href="/home" class="footer__menu-link">Home</a></li>
                    <li><a href="/blog" class="footer__menu-link">Blog</a></li>
                    <li><a href="/catalog" class="footer__menu-link">Catalog</a></li>
                    <li><a href="/contact" class="footer__menu-link">Contact Us</a></li>
                    <li><a href="/terms" class="footer__menu-link">Terms of Service</a></li>
                    <li><a href="/privacy" class="footer__menu-link">Privacy Policy</a></li>
                    <li><a href="/whitepaper" class="footer__menu-link">Whitepaper</a></li>
                    <li><a href="/help" class="footer__menu-link">Help Center</a></li>
                </ul>
            </nav>
    </div>
        </div>
        <div class="footer__bottom">
            <hr class="footer__line">
            <h4 class="footer__copy">BINABOX 2025 - ALL rights reserved</h4>
            <a href="https://twitter.com" class="social-link">Twitter</a>
            <a href="https://facebook.com" class="social-link">Facebook</a>
            <a href="https://telegram.com" class="social-link">Telegram</a>
            <a href="https://youtube.com" class="social-link">YouTube</a>
            <a href="https://tiktok.com" class="social-link">TikTok</a>
            <a href="https://discord.com" class="social-link">Discord</a>
        </div>
    </footer>