    <header class="header">
        <a href="/" class="header__logo">
            <img src="./images/logo.png" alt="Logo" class="header__logo-img">
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/home" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
                <li class="nav__item"><a href="/catalog" class="nav__link">Catalog</a></li>
                <li class="nav__item"><a href="/about" class="nav__link">About Us</a></li>
            </ul>
        </nav>
        <div class="header__actions">
            <input type="search" class="header__search">
            <a href="#" class="button button--outlined">Discord</a>
            <button class="button button--primary">Login</button>
        </div>
    </header>
    