        <nav class="header__nav">
            <a href="/" class="header__logo">
                <img src="./images/logo.png" alt="Logo" class="header__logo-img">
            </a>
            <ul class="header__menu">
            {% for item in header.nav %}
                <li class="header__menu-item"><a href="/home" class="header__menu-link">Home</a></li>
                
                <li class="header__menu-item"><a href="/blog" class="header__menu-link">Blog</a></li>
                <li class="header__menu-item"><a href="/catalog" class="header__menu-link">Catalog</a></li>
                <li class="header__menu-item"><a href="/about" class="header__menu-link">About Us</a></li>
            {% endfor %}
            </ul>
        </nav>
        <div class="header__actions">
            <input type="search" class="header__search">
            <a href="#" class="header__discord-link">Discord</a>
            <button class="header__login-button">Login</button>
        </div>