<section class='team-section'>
  <h2 class='team-section__title'>Our team</h2>
  {% for member in team %}
    {% include 'team-section_member.twig' %}
  {% endfor %}
  
  <div class='team-member'>
    <img src='/images/2f.png' alt='team member'>
    <h3 class='team-member__name'>Nova Riven</h3>
    <p class='team-member__role'>Creative Architect</p>
    <a href='https://facebook.com' class='social-link'>Facebook</a>
    <a href='https://telegram.com' class='social-link'>Telegram</a>
    <a href='https://linkedin.com' class='social-link'>linkedIn</a>
    <a href='https://instagram.com' class='social-link'>Instagram</a>
  </div>
  <div class='team-member'>
    <img src='./images/2f.png' alt='team member'>
    <h3 class='team-member__name'>Echo Zero</h3>
    <p class='team-member__role'>Tech Whisperer</p>
    <a href='https://facebook.com' class='social-link'>Facebook</a>
    <a href='https://telegram.com' class='social-link'>Telegram</a>
    <a href='https://linkedin.com' class='social-link'>linkedIn</a>
    <a href='https://instagram.com' class='social-link'>Instagram</a>
  </div>
  <div class='team-member'>
    <img src='./images/2f.png' alt='team member'>
    <h3 class='team-member__name'>Kairo Null</h3>
    <p class='team-member__role'>Lore Engineer</p>
    <a href='https://facebook.com' class='social-link'>Facebook</a>
    <a href='https://telegram.com' class='social-link'>Telegram</a>
    <a href='https://linkedin.com' class='social-link'>linkedIn</a>
    <a href='https://instagram.com' class='social-link'>Instagram</a>
  </div>
  <div class='team-member'>
    <img src='./images/2f.png' alt='team member'>
    <h3 class='team-member__name'>Dr. Wex Omega</h3>
    <p class='team-member__role'>Visual Disruptor</p>
    <a href='https://facebook.com' class='social-link'>Facebook</a>
    <a href='https://telegram.com' class='social-link'>Telegram</a>
    <a href='https://linkedin.com' class='social-link'>linkedIn</a>
    <a href='https://instagram.com' class='social-link'>Instagram</a>
  </div>
  <div class='team-member'>
    <img src='./images/2f.png' alt='team member'>
    <h3 class='team-member__name'>Synthya Void</h3>
    <p class='team-member__role'>UX Seer</p>
    <a href='https://facebook.com' class='social-link'>Facebook</a>
    <a href='https://telegram.com' class='social-link'>Telegram</a>
    <a href='https://linkedin.com' class='social-link'>linkedIn</a>
    <a href='https://instagram.com' class='social-link'>Instagram</a>
  </div>
  <div class='team-member'>
    <img src='6f.png' alt='team member'>
    <h3 class='team-member__name'>Mirlo Drift</h3>
    <p class='team-member__role'>Community Catalyst</p>
    <a href='https://facebook.com' class='social-link'>Facebook</a>
    <a href='https://telegram.com' class='social-link'>Telegram</a>
    <a href='https://linkedin.com' class='social-link'>linkedin</a>
    <a href='https://instagram.com' class='social-link'>Instagram</a>
  </div>
  <div class='team-member'>
    <img src='./images/2f.png' alt='team member'>
    <h3 class='team-member__name'>Axon Rune</h3>
    <p class='team-member__role'>Security Ghost</p>
    <a href='https://facebook.com' class='social-link'>Facebook</a>
    <a href='https://telegram.com' class='social-link'>Telegram</a>
    <a href='https://linkedin.com' class='social-link'>linkedin</a>
    <a href='https://instagram.com' class='social-link'>Instagram</a>
  </div>
</section>
