

.banner__highlight{
    color: #0265DC;
}
.label{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-size: SemiBold;
    background-color:#F5F8FB;
    color: #0265DC;
}
.label.sold-out{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    background-color: #F5F8FB;
    color: red;

}
.blog-section{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 28px;
    letter-spacing: 0px;
    background-color:#0d0d15;
    color: #F5F8FB;
    font-size: 16px;
}
