
/* Main styles */
@use '../base/global';

@use '../components/button';

body{
    background-color: #f00;
}
.blog-section .button--link{
    font-family: "Poppins", Arial, sans-serif;
    font-style: SemiBold;
    font-size: 16px;
    font-size:large;
    font-weight: normal;
    border: 2px;
    height: 40px;
    width: 161px;
    background-color:#D0D7FB2B;
    color: #ffffff;
}
.banner__highlight{
    color: #0265DC;
}
.label{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-size: SemiBold;
    background-color:#F5F8FB;
    color: #0265DC;
}
.label.sold-out{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    background-color: #F5F8FB;
    color: red;

}
.button--primary{
  background-color: #0265DC;
  color: #F5F8FB;
  font-weight: 600;
  font-style: SemiBold;
  letter-spacing: 0px;
}
.blog-section{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 28px;
    letter-spacing: 0px;
    background-color:#0d0d15;
    color: #F5F8FB;
    font-size: 16px;
}
.about-section .button--link{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    letter-spacing: 0px;
    background-color: #D0D7FB2B;
    color: #f5f6f8;

}