body {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  background-color: #0d0d15;
  color: #eff5fad1;
}
h1,
h2,
h3 {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
}
p {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  color: #eff5fa;
}
a {
  color: #d0d7fb2b;
}
button {
  font-size: x-large;
  border: 2px;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  text-align: left;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  
}